# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# Terraform files
.terraform
terraform.tfstate
terraform.tfvars
*.tfstate*
terraform
# OS X files
.history
.DS_Store

# IntelliJ files
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/
# VIM Swap files
*.swp



# Folder used to store temporary test data by Terratest
.test-data

bin/
old/

plan.out
*.log
.idea/